<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
     <header class="bar bar-header bar-dark">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content id="content-menu">
      <ion-list>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/profil">
            <i class="icon ion-person"></i>
            Profil
        </ion-item>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/people">
            <i class="icon ion-radio-waves"></i>
            Find Match
        </ion-item>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/chat">
            <i class="icon ion-person"></i>
              Match
        </ion-item>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/setting">
            <i class="icon ion-unlocked"></i>
              Setting
        </ion-item>
        <!-- <ion-item menu-close ng-click="about()">
          About
        </ion-item> -->
        <ion-item item-type="item-icon-left" nav-clear menu-close ng-click="logout()">
            <i class="icon ion-log-out"></i>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
