<ion-view view-title="Setting">

  <ion-content class="padding">

      <div class="item item-divider">Gender :</div>
    <ion-list>

      <ion-checkbox ng-model="filter.red">Male</ion-checkbox>
      <ion-checkbox ng-model="filter.yellow">Female</ion-checkbox>


    </ion-list>

    <br>
    <div class="item item-divider">Age :</div>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" ng-model="rangeValue" ng-change="drag(rangeValue)">

        <i class="icon ion-ios-sunny"></i>

         <div> Years : {{rangeValue}}</div>
      </div>
    </div>

        <div class="item item-divider">Age:</div>
        <div class="item range range-positive">
          <div class="range-label">{{range.from}}</div>
          <ui-multi-range ng-step="1" ng-min="ageMin" ng-max="ageMax" ng-model-min="range.from" ng-model-max="range.to" ng-change-min="somethingHasChanged()" ng-change-max="somethingHasChanged()"></ui-multi-range>
          <div class="range-label">{{range.to}}</div>
        </div>
        <p>
        <button class="button button-balanced" ng-click="printRange()">Log range</button>
        </p>

      <button class="button button-block button-positive" ng-click="setting()">
          Save
      </button>


  </ion-content>
</ion-view>
