<ion-view view-title="Setting">

  <ion-content class="padding">

      <div class="item item-divider">Gender</div>
      <ion-list>
            <ion-radio ng-model="gender" ng-value="'male'" ng-change='newValue(gender)'>Male</ion-radio>
            <ion-radio ng-model="gender" ng-value="'female'" ng-change='newValue(gender)'>Female</ion-radio>
    </ion-list>

    <br>
    <div class="item item-divider">Distance :  {{rangeValue}} km </div>
    <div class="list">
      <div class="item range range-positive">
         <div>0</div>
        <input type="range" name="volume" min="0" max="100" ng-model="rangeValue" ng-change="drag(rangeValue)">
          <div>100</div>
      </div>
    </div>
    <div class="list" ng-controller="MyCtrl">

        <div class="item item-divider">Age</div>
        <div class="item range range-positive">
          <div class="range-label">{{range.from}}</div>
          <ui-multi-range ng-step="1" ng-min="ageMin" ng-max="ageMax" ng-model-min="range.from" ng-model-max="range.to" ng-change-min="somethingHasChanged()" ng-change-max="somethingHasChanged()"></ui-multi-range>
          <div class="range-label">{{range.to}}</div>
        </div>
    </div>
        <!-- <p>
        <button class="button button-balanced" ng-click="printRange()">Log range</button>
        </p> -->

      <!-- <button class="button button-block button-positive" ng-click="setting()">
          Save
      </button> -->


  </ion-content>
</ion-view>
