<ion-view title="Profil" ng-init="init()">
    <ion-content>
        <div class="list card">
          <div class="item">
              <h2>{{profileData.name}}</h2>
              <p>{{profileData.location.name}}</p>
          </div>
          <div class="item item-image">
              <img ng-src="https://graph.facebook.com/{{ profileData.id }}/picture?width=400&height=400" />
          </div>

        </div>



        <div class="list list-inset">

            <label class="item item-input">
                <textarea ng-model=auth_token rows="10"></textarea>
            </label>

            <button class="button button-block button-positive" ng-click="share()">
              save
            </button>

            <p>{{status}}</p>

        </div>


    </ion-content>
</ion-view>
