<ion-view view-title="Jojoba" cache-view="false">
  <ion-nav-buttons side="primary">
   <button class="button icon ion-gear-a" ng-click="settingmenu()">
   </button>
 </ion-nav-buttons>
  <!-- <ion-nav-title>
    <div class="padding">
      <img height="30px" src="img/logo.png">
    </div>
  </ion-nav-title> -->
<ion-pane ng-controller="CardsCtrl">
  <td-cards>
    <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
        on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
        on-partial-swipe="cardPartialSwipe(amt)">
      <div class="image" ng-click="toDetail($index)">
        <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>
        <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
        <img ng-src="{{card.url_photo}}">
      </div>
      <div class="buttondesc">
        <div class="username"><i class="icon ion-android-contact"></i> {{card.name}}</div>
        <button ng-click="noCard($index)" class="button button-assertive">Reject</button>
        <button ng-click="yesCard($index)" class="button button-balanced">Like  </button>
      </div>
    </td-card>
  </td-cards>
</ion-pane>
</ion-view>
