<ion-view view-title="Jojoba">

  <ion-content class="padding"  id="content-home">

    <swipe-cards class="padding">
    <swipe-card on-card-swipe="cardSwiped()" id="start-card">
      Swipe down for a new card
    </swipe-card>
    <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)" on-swipe-left="cardSwipedLeft($index)"  on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)">
     <div ng-controller="CardCtrl">
        <div class="title">
          {{card.title}}
        </div>
        <div class="image" ng-click="toDetail($index)">
          <img ng-src="{{card.image}}">
        </div>
        <div class="button-bar">
          <button class="button button-clear button-positive" ng-click="doReject()">Reject</button>
          <button class="button button-clear button-positive" ng-click="doLike($index)">Like</button>
        </div>
      </div>
    </swipe-card>
  </swipe-cards>

  <!-- <div ng-controller="GeoCtrl"></div>
  <button class="button button-block button-positive" ng-click="vm.where()">
      Cek Location
  </button>
  </ion-content> -->
</ion-view>
