<ion-view view-title="Match" cache-view="false">



  <ion-content class="padding">


      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="match in matchs" type="item-text-wrap" ng-click="toDetail($index)">
          <img ng-src="{{match.url_photo}}">
          <h2>{{match.name}}</h2>
          <p>{{match.age}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(match)">
            unmatch
          </ion-option-button>
        </ion-item>
      </ion-list>



  </ion-content>
</ion-view>
