<ion-view view-title="My Religion">


  <ion-content class="padding">

      <h4 class="padding">Choose your religion<h4>

    <ion-list>
    <ion-radio ng-model="religion.me" ng-value="'islam'">Islam</ion-radio>
    <ion-radio ng-model="religion.me" ng-value="'christianity'">Kristen</ion-radio>
    <ion-radio ng-model="religion.me" ng-value="'hinduism'">Hindu</ion-radio>
    <ion-radio ng-model="religion.me" ng-value="'buddhism'">Budha</ion-radio>
    <ion-radio ng-model="religion.me" ng-value="'other'">Lainnya</ion-radio>

  </ion-list>


    <button class="button button-block button-positive" ng-disabled="!religion.me" ng-click="submitAnswer(religion)">
        Next
    </button>


  </ion-content>
</ion-view>
