<ion-view view-title="Religion Partner">

  <ion-content class="padding">

      <h4 class="padding">Choose your religion partner<h4>

    <ion-list>

      <ion-radio ng-model="religion.partner" ng-value="'islam'">Islam</ion-radio>
      <ion-radio ng-model="religion.partner" ng-value="'christianity'">Kristen</ion-radio>
      <ion-radio ng-model="religion.partner" ng-value="'hinduism'">Hindu</ion-radio>
      <ion-radio ng-model="religion.partner" ng-value="'buddhism'">Budha</ion-radio>
      <ion-radio ng-model="religion.partner" ng-value="'other'">Lainnya</ion-radio>

    </ion-list>

    <button class="button button-block button-positive" ng-disabled="!religion.partner" ng-click="submitAnswer(religion)">
        Next
    </button>


  </ion-content>

</ion-view>
