/* Empty. Add your own CSS if you like */


.pane{
  background-color:#f3f3f3;
}

.swipe-cards {
  position: fixed;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.item-body > p {
    margin-top: 0;
    margin-bottom: 4px;
}


#content-home {
  background-color: #f3f3f3;
  margin-top: 20px;
}

#content-menu {
  margin-top: 40px;
}


.swipe-cards {
 position: fixed;
   margin-top: 20px;
}

swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
    margin-top: 20px;
}

swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
swipe-card .button {
  border: none;
}
swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
    margin-top: 20px;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
    margin-top: 20px;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}


swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}
// Usually the following is retrieve from the ionic scss

@mixin flex($fg: 1, $fs: null, $fb: null) {
  -webkit-box-flex: $fg;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

$range-default-track-bg:          #ccc !default;

// Multi-range css
ui-multi-range {
    @include flex(1);
    position: relative;
    height: 50px;
    input[type=range] {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 2px;
        overflow: hidden;
        border: 0;
        border-radius: 1px;
        outline: none;
        pointer-events: none;

        &:active,
        &:focus {
            outline: none;
        }

        &::-webkit-slider-thumb {
            position: relative;
            cursor: pointer;
            pointer-events: all;
            &::before {
                content: ' ';
                display: block;
                position: absolute;
                top: 13px;
                left: 100%;
                width: 2000px;
                height: 2px;
            }
        }

        &:nth-child(2) {
            background: none;

            &::-webkit-slider-thumb::before {
                background-color: $range-default-track-bg;
            }
        }
    }
}
